nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-image: linear-gradient(to bottom right, #2ae3f0, #2c06eb);
}

nav li {
  float: left;
  font-size: 18px;
}

nav li a {
  display: block;
  color: white;
  text-align: left;
  padding: 14px 16px;
  text-decoration: none;
}

nav li a:hover {
  background-color: #2c06eb;
  color: white;
}

nav li a:active {
  background-color: #2c06eb;
  color: white;
}

.body {
  margin-top: 50px;
  padding-top: 5px;
}

.select__label {
  padding-right: 5px;
  color: #2c06eb;
}

.select__box {
  margin-right: 25px;
}

#message__box {
  background-color: white;
  border-radius: 15px;
  color: #2c06eb;
  font-size: 18px;
  vertical-align: middle;
}

.remove__button {
  width: 30px;
  height: 30px;
  background-color: #2c06eb;
  border-color: #2c06eb;
  border-radius: 15px;
  color: white;
  font-size: 20px;
  text-align: center;
  position: inherit;
  /* float: right; */
  top: 0px;
}

#selection_button_selected {
  background-color: #2c06eb;
  color: white;
  border-color: #2c06eb;
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
  text-align: center;
}

#selection_button {
  border-color: #2c06eb;
  background-color: white;
  color: #2c06eb;
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
  text-align: center;
}

.column {
  float: left;
  width: 33.33%;
  height: 3000px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.row {
  position: fixed;
  top: 65px;
  width: 98%;
}

.column__headline {
  text-align: center;
  font-size: 36px;
  color: #2c06eb;
  position: relative;
}

.row__card {
  position: relative;
  /* clear: both; */
  top: 10px;
  /* background-color: red; */
  /* height: 100px; */
  margin: 10px;
  padding: 5px;
}

.row__card__headline {
  font-size: 18px;
  color: #2c06eb;
  padding-bottom: 4px;
  padding-right: 4px;
}

.check__mark {
  float: left;
  margin-right: 10px;
}

.beer__card {
  position: relative;
  top: 1px;
  margin: 5px;
  border-top: black;
  border-top-style: solid;
}

.brewery__name {
  font-size: 12px;
  color: #2c06eb;
}
.beer__name {
  font-size: 16px;
  color: #2c06eb;
}

.beer__description {
  font-size: 14px;
  color: black;
}

.choose__beer {
  position: relative;
  top: 10px;
  float: right;
  height: 45px;
  width: 45px;
  text-align: center;
  font-size: 36px;
}
